@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* for making 1rem equals to 10px for easier calculation in css */
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  color: $primary-text-color;
}
