.contents {
  background-color: #f7f7fb;
  padding: 3.2rem;
  width: 100%;

  @media (max-width: 768px) {
    flex: 1;
  }
  .top-contents {
    display: flex;
    gap: 2.4rem;
    width: 100%;
    @media (max-width: 768px) {
      flex-direction: column;
      flex: 1;
    }
  }
  .grid-layout {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }
}
