$primary-font: "Plus Jakarta Sans", sans-serif;

$white: #ffffff;
$primary-text-color: #0d163a;
$text-neutral-500: #667085;
$text-green: #3bbb6e;

$background-grey: #d9d9d9;
$background-grey-1: #dededeb2;
$background-purple: #4745a4;
$background-yellow: #f9ba33;
